@import "tailwindcss";


:root {
  font-family: 'Inter', sans-serif;
}

body {
  /* Um background gradiente sutil e escuro */
  background: radial-gradient(at top center, #1e293b, #0f172a);
  color: #f8fafc;
  min-height: 100vh;
}

/* Fix para o mapa do Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 500px; /* Mapa mais alto */
  border-radius: 1rem;
  z-index: 10;
}

/* Scrollbar customizada para ficar "dark" */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a; 
}
::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}